<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="/src/demo-secun/demo-secun.html">-->
<dom-module id="demo-comp">
  <template>
    <style>
      :host {
        display: block;
      }
      h2{
        color: #FF0323;
      }
    </style>
    <!--One way Binding-->
    <h2>Soy [[nombre]]!</h2>
    <h3> Tengo la edad de [[edad]] años</h3>
    <!--  <demo-secun></demo-secun>-->
    <!--two way Binding-->
    <input type="text" value="{{nombre::input}}" placeholder="Escribe tu nombre"/>
    <input type="range" min="18" max="50" value="{{edad::input}}">
  </template>

  <script>
    /* */
    class DemoComp extends Polymer.Element {
      static get is() { return 'demo-comp'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          edad:{
            type: Number
          }
        };
      }
    }
    /*metodo define = metodo los costum elements , crear un nuevo custemElements
    pasnadole el metodo IS y el nombre de clase */
    window.customElements.define(DemoComp.is, DemoComp);
  </script>
</dom-module>
