<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="demo-secun">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Profesor [[profe]]!</h2>
    <h1>Año Curso: [[fecha]]</h1>
  </template>

  <script>
    /*Ejemplo Data  Binding con TWO-WAY */
    class DemoSecun extends Polymer.Element {
      static get is() { return 'demo-secun'; }
      static get properties() {
        return {
          profe: {
            type: String,
            value: 'Ezequiel'
          },
          fecha: {
            type: Number,
            value: 2020
          }
        };
      }
    }
    /*metodo define = metodo los costum elements , crear un nuevo custemElements
    pasnadole el metodo IS y el nombre de clase */
    window.customElements.define(DemoSecun.is, DemoSecun);
  </script>
</dom-module>
