<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="/src/visor-usuario/visor-usuario.html">-->
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/page-not-found/page-not-found.html">
link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>IRON PAGES TEST</h1>
    <input value="{{componentName::input}}" placeholder="Select component">
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
        <div component-name="visor-usuario"><visor-usuario></visor-usuario></div>
        <div component-name="page-not-found"><page-not-found></page-not-found></div>
        <div component-name="visor-cuentas"><visor-cuentas></visor-cuentas></div>
    </iron-pages>
  </template>
  <script>
  class TestIronPages extends Polymer.Element {
    static get is() { return 'test-iron-pages'; }
    static get properties() {
      return {
        componentName: {
          type: String
        }
      };
    }
  }
  window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
