<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        padding: 8px;
        background-color: #DDDDDD;
      }
      :host {
        display: block;
      }
      .btn-salir{
        background: #0B8585!important;
        align-bottom: right;
      }
      .botonDerecha{
        float: right;
        width: 50px;
        padding: 10px;
      }
      .boton_1{
        text-decoration: none;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: helvetica;
        font-weight: 300;
        font-size: 25px;
        font-style: italic;
        color: #006505;
        background-color: #82B085;
        border-radius: 15px;
        border: 3px double #006505;
      }
      .boton_1:hover{
        opacity: 0.6;
        text-decoration: none;
      }
      :host {
        display: block;
        font-family: Helvetica;
      }
      .container-newusuario{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 60px 0;
       top:100px;
      }
      .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       top:100px;
      }

      .col-md-12{
       font-family: Helvetica;
       color: white;
       }
      .btn-primary{
        float: center;
        width: 160px;
        padding: 10px;
        background: #0B8585!important;
      }
      .btn-right{
        float: right;
        align-bottom: rigtht;
        width: 160px;
        padding: 10px;
        color: #FCFCFC;
        background: #0B8585!important;
      }
      .altas-boton{
        float: right;
      }
      .table {
        border-collapse: collapse;
        background: white;
      }
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: auto;
        font-weight: 500;
        line-height: 1.2;
        color: white;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <ul>
      <li><a href="#" on-click="usuarios">Gestor Usuarios</a></li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><a href="#" on-click="cuentas">Gestor Cuentas</a></li>
    </ul>
   <div hidden$="[[!hasGestorcuenta]]" >
     <h4>Tus cuentas son: <div class="altas-boton"><button class="btn btn-primary" on-click="formCta">Crear Cuenta</button></div></h4>
     <div hidden$="[[!hasListaCtas]]">
     <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col">Numero de Cuenta</th>
           <th scope="col">Tipo Cuenta</th>
           <th scope="col">Moneda</th>
           <th scope="col">Saldo</th>
           <th scope="col">Operaciones</th>
         </tr>
       </thead>
       <tbody>
         <template is="dom-repeat" items="{{accounts}}" index-as="index">
           <tr>
             <td>{{item.iban}}</td>
             <td>{{item.tip_cuenta}}</td>
             <td>{{item.divisa}}</td>
             <td>{{item.saldo}}</td>
             <td>
               <button class="btn btn-primary" on-click="movimientos">Movimientos</button>&nbsp;&nbsp;
               <button class="btn btn-primary" on-click="deposito">Deposito</button>&nbsp;&nbsp;
               <button class="btn btn-primary" on-click="inactivar">Inactivar</button>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    </div>
    <div hidden$="[[!hasformDeposito]]" class="container-newusuario">
      <h2>Depositar Dinero</h2>
      <table class="table">
        <tr>
          <td>Numero Cuenta:</td>
          <td><input type="text" disabled name="" value="{{iban_depo}}"></td>
        </tr>
        <tr>
          <td>Divisa</td>
          <td><select value="{{moneda_mov::input}}">
              <option value="">Seleccionar Moneda</option>
              <option value="PEN">PEN</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Importe:</td>
          <td><input type="number"  name="" placeholder="0.00" value="{{importe_mov::input}}"></td>
        </tr>
        <tr>
          <td>Referencia:</td>
          <td><input type="text"  name=""  value="{{referencia_mov::input}}"></td>
        </tr>

      </table>
      <button class="btn btn-primary" on-click="AltaDeposito">Depositar</button>
    </div>
    <div hidden$="[[!hasformCta]]" class="container-newusuario">
      <h2>Crear Nueva Cuenta</h2>
      <table class="table">
        <tr>
          <td>Numero Cuenta:</td>
          <td><input type="text" name="" placeholder="0011-0000-000000000" value="{{iban::input}}"></td>
        </tr>
        <tr>
          <td>Divisa</td>
          <td><select value="{{divisa::input}}" >
              <option value="">Seleccionar Moneda</option>
              <option value="PEN">PEN</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Tipo de Cuenta</td>
          <td><select value="{{tip_cuenta::input}}">
              <option value="">Escoger Cuenta</option>
              <option value="Ahorros">Ahorros</option>
              <option value="Corrientes">Corriente</option>
            </select>
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" on-click="AltaCta">Registrar</button>
    </div>
    <div hidden$="[[!hasActivity]]">
      <h2>Movimientos de la cuenta [[idCuenta]]</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Numero de movimiento</th>
            <th scope="col">Numero de Cuenta</th>
            <th scope="col">Importe</th>
            <th scope="col">Moneda</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{movimientos}}" index-as="index">
            <tr>
              <td>{{item.id_movimiento}}</td>
              <td>{{item.id_cuenta}}</td>
              <td>{{item.importe_mov}}</td>
              <td>{{item.moneda_mov}}</td>
              <td><div><button class="btn btn-primary" on-click="detalles" >Detalle</button></div></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div hidden$="[[!hasDetail]]">
      <h2>Detalles del movimiento Nº {{idMovElegido}} de la cuenta [[idCuenta]]</h2>
      <table class="table table-striped">
        <tr>
          <td>Numero de movimiento:</td>
          <td>{{idMovimiento}}</td>
          <td></td>
          <td>Importe del movimiento:</td>
          <td>{{importe}}</td>
        </tr>
        <tr>
          <td>Moneda del movimiento:</td>
          <td>{{moneda}}</td>
          <td></td>
          <td>Fecha del movimiento:</td>
          <td>{{fecha}}</td>
        </tr>
        <tr>
          <td>Referencia:</td>
          <td>{{referencia}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div hidden$="[[!hasGestorusuario]]">
    <div>
      <h4>Gestion Usuarios: <div class="altas-boton"> <button class="btn btn-primary"  on-click="CreaUsuario" >Nuevo Usuario</button></div></h4>
    </div>
    <div hidden$="[[!hasListarusuarios]]">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{usuarios}}" index-as="index">
            <tr>
              <td>{{item.first_name}}</td>
              <td>{{item.last_name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.telefono}}</td>
              <td>
                <button class="btn btn-primary" on-click="elimiarUsuario">Eliminar</button>&nbsp;&nbsp;
                <button class="btn btn-primary" on-click="ModUsuario">Actualizar</button>&nbsp;&nbsp;
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div hidden$="[[!hasCreaUsuario]]" class="container-newusuario">
      <h2>Crear Nuevo Usuario</h2>
      <table class="table">
        <tr>
          <td>Nombre:</td>
          <td><input type="text" name="" placeholder="Escribe tu nombre" value="{{first_name::input}}"></td>
        </tr>
        <tr>
          <td>Apellido:</td>
          <td><input type="text" name="" placeholder="Escribe tu apellido" value="{{last_name::input}}"></td>
        </tr>
        <tr>
          <td>Correo:</td>
          <td><input type="email" name=""  placeholder="example@abc.com" value="{{email::input}}"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="" placeholder="Ingresa contraseña" value="{{password::input}}"></td>
        </tr>
        <tr>
          <td>Dirección:</td>
          <td><input type="text" name="" placeholder="Ingresa tu dirección" value="{{direccion::input}}"></td>
        </tr>
        <tr>
          <td>Teléfono:</td>
          <td><input type="text" name="" placeholder="Ingresa tu teléfono o celular" value="{{telefono::input}}"></td>
        </tr>
      </table>
      <button class="btn btn-primary" on-click="altaUsuario">Registrar</button>
    </div>
    <div hidden$="[[!hasActualizarCuenta]]" class="container-newusuario">
      <h2>Modificar Usuario</h2>
      <table class="table">
          <tr>
            <td>Nombre:</td>
            <td><input type="text" name="" value="{{first_name::input}}"></td>
          </tr>
          <tr>
            <td>Apellido:</td>
            <td><input type="text" name="" value="{{last_name::input}}"></td>
          </tr>
          <tr>
            <td>Correo:</td>
            <td><input type="email" name=""  value="{{email::input}}"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" name=""  value="{{password::input}}"></td>
          </tr>
          <tr>
            <td>Dirección:</td>
            <td><input type="text" name="" value="{{direccion::input}}"></td>
          </tr>
          <tr>
            <td>Teléfono:</td>
            <td><input type="text" name=""  value="{{telefono::input}}"></td>
          </tr>
      </table>
      <button class="btn btn-primary" on-click="actualizarUsuario">Registrar</button>
    </div>
  </div>
    <iron-ajax
      id="deleteUser"
      url="http://localhost:3001/techu/v2/usersDel/{{userid}}"
      method="DELETE"
      handle-as="json"
      on-response="delUserResponse">
    <iron-ajax
        id="doActSaldo"
        url="http://localhost:3001/techu/v2/users/{{userid}}/accountSal/{{id_account}}"
        content-type="application/json"
        handle-as="json"
        method="PUT"
        on-response="actSaldoResponse">
    <iron-ajax
          id="doInsertMov"
          url="http://localhost:3001/techu/v2/accounts"
          content-type="application/json"
          method="POST"
          handle-as="json"
          on-response="insertMovResponse"
          on-error="showError">
    <iron-ajax
        id="doAltaCta"
        url="http://localhost:3001/techu/v2/users/{{userid}}/account"
        content-type="application/json"
        method="PUT"
        handle-as="json"
        on-response="altaCtaResponse"
        on-error="showError">
    <iron-ajax
      id="doUserMod"
      url="http://localhost:3001/techu/v2/usersUpd/{{userid}}"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="modUserResponse"
      on-error="showError">
    <iron-ajax
      id="doUser"
      url="http://localhost:3001/techu/v2/users"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageUserResponse"
      on-error="showError">
    <iron-ajax
      id="getPerson"
      url="http://localhost:3001/techu/v2/users"
      handle-as="json"
      on-response="showDataPerson">
    <iron-ajax
      id="getInactivar"
      url="http://localhost:3001/techu/v2/users/{{userid}}/accountInc/{{idCuenta}}"
      handle-as="json"
      method="PUT"
      on-response="ResponseInac">
    <iron-ajax
      id="getDetalles"
      url="http://localhost:3001/techu/v2/accounts/{{idCuenta}}/movimientos/{{idMovElegido}}"
      handle-as="json"
      on-response="Response">
   <iron-ajax
     id="getMovimientos"
     url="http://localhost:3001/techu/v2/accounts/{{idCuenta}}"
     handle-as="json"
     on-response="manageAJAXResponse">
    <iron-ajax
      id="getAccounts"
      url="http://localhost:3001/techu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>
  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid : {
            type: Number,
            observer: '_idChanged'
          }, iban: {
            type: String
          }, saldo: {
            type: Number
          }, accounts: {
            type: Array
          }, idCuenta: {
            type: String
          }, movimientos: {
            type: Array
          }, idMovimiento: {
            type: Number
          }, importe: {
            type: Number
          }, moneda: {
            type: String
          }, fecha: {
            type: String
          }, referencia: {
            type: String
          }, idMovElegido: {
            type: Number
          }, hasGestorusuario:{
            type: Boolean,
            value: false
          }, usuarios: {
            type: Array
          }, hasCreaUsuario:{
            type: Boolean,
            value: false
          }, hasActualizarCuenta:{
            type: Boolean,
            value: false
          },hasformCta:{
            type: Boolean,
            value: false
          },hasformDeposito:{
            type: Boolean,
            value: false
          },importeNumerico:{
            type: Number
          },NuevoSaldo:{
            type: Number
          }
        };
      }

      deposito(e){
        this.hasGestorusuario = false;
        this.hasListarusuarios = false;
        this.hasGestorcuenta = true;
        this.hasCreaUsuario = false;
        this.hasActualizarCuenta = false;
        this.hasListaCtas = false;
        this.hasformCta = false;
        this.hasActivity = false;
        this.hasDetail = false;
        this.hasformDeposito = true;
        var eli = e.model.item;
        this.iban_depo = eli.iban;
        this.id_account = eli.id_account;
        this.importe_ant = eli.saldo;
      }
      AltaDeposito(e){
        var f = new Date();
        var date = f.getDate()+'/'+(f.getMonth()+1)+'/'+f.getFullYear();
        var importeNumerico = parseFloat(this.importe_mov);
        var NuevoSaldo = this.importe_ant + importeNumerico;
        var AltaDeposito = {
          "id_cuenta": this.iban_depo,
          "importe_mov": importeNumerico,
          "moneda_mov": this.moneda_mov,
          "date_mov": date,
          "referencia_mov": this.referencia_mov
        };
          this.$.doInsertMov.body = JSON.stringify(AltaDeposito);
          this.$.doInsertMov.generateRequest();
          alert("Deposito Realizado");
          var ActualizaSaldo = {
            "saldo": NuevoSaldo
          };
          this.$.doActSaldo.body = JSON.stringify(ActualizaSaldo);
          this.$.doActSaldo.generateRequest();
      }
      actSaldoResponse(){
        var loginData = {
          "id_user" : this.userid,
        };
        this.$.getAccounts.body = JSON.stringify(loginData);
        this.$.getAccounts.generateRequest();
        this.hasGestorusuario = false;
        this.hasGestorcuenta = true;
        this.hasListarusuarios = false;
        this.hasActualizarCuenta = false;
        this.hasListaCtas = true;
        this.hasformCta = false;
        this.referencia_mov = "";
        this.importe_mov = "";
        this.moneda_mov = "";
      }
      insertMovResponse(data){
        var loginData = {
          "id_user" : this.userid,
        };
        this.$.getAccounts.body = JSON.stringify(loginData);
        this.$.getAccounts.generateRequest();
        this.hasGestorusuario = false;
        this.hasGestorcuenta = true;
        this.hasListarusuarios = false;
        this.hasActualizarCuenta = false;
        this.hasListaCtas = true;
        this.hasformCta = false;
        this.hasformDeposito = false;
      }
      formCta(e){
        this.hasGestorusuario = false;
        this.hasListarusuarios = false;
        this.hasGestorcuenta = true;
        this.hasCreaUsuario = false;
        this.hasActualizarCuenta = false;
        this.hasListaCtas = false;
        this.hasformCta = true;
      }
      AltaCta(e){
        var AltaCuenta = {
          "iban": this.iban,
          "saldo": 0.00,
          "divisa": this.divisa,
          "tip_cuenta": this.tip_cuenta,
          "estado": "A"
          };
          this.$.doAltaCta.body = JSON.stringify(AltaCuenta);
          this.$.doAltaCta.generateRequest();
          alert("Cuenta Creada");
      }
      altaCtaResponse(data){
        var loginData = {
          "id_user" : this.userid,
        };
        this.$.getAccounts.body = JSON.stringify(loginData);
        this.$.getAccounts.generateRequest();
        this.hasGestorusuario = false;
        this.hasGestorcuenta = true;
        this.hasListarusuarios = false;
        this.hasActualizarCuenta = false;
        this.hasListaCtas = true;
        this.hasformCta = false;
        this.iban = "";
        this.saldo = "";
        this.divisa = "";
        this.tip_cuenta = "";
      }

      elimiarUsuario(e) {
        var eli = e.model.item;
        this.userid = eli.id_user;
        this.$.deleteUser.generateRequest();
        this.hasGestorusuario = true;
        this.hasListarusuarios = true;
        this.hasGestorcuenta = false;
        this.hasActualizarCuenta = false;
      }
      delUserResponse(data) {
        this.usuarios = data.detail.response;
        //actualizar el listado
        this.$.getPerson.generateRequest();
        this.usuarios = data.detail.response;
        this.hasGestorusuario = true;
        this.hasListarusuarios = true;
        this.hasGestorcuenta = false;
        this.hasActualizarCuenta = false;
        let nuevoName = data.detail.response.first_name;
        alert("Usuario "+ nuevoName + " elimado");
      }


      ModUsuario(e){
        var modi = e.model.item;
        this.userid = modi.id_user;
        this.first_name = modi.first_name;
        this.last_name = modi.last_name;
        this.email = modi.email;
        this.direccion = modi.direccion;
        this.password = modi.password;
        this.telefono = modi.telefono;
        this.hasGestorusuario = true;
        this.hasListarusuarios = false;
        this.hasGestorcuenta = false;
        this.hasCreaUsuario = false;
        this.hasActualizarCuenta = true;
      }
      actualizarUsuario(e){
        var usuarioMod = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "direccion" : this.direccion,
          "password" : this.password,
          "telefono" : this.telefono,
        };
        this.$.doUserMod.body = JSON.stringify(usuarioMod);
        this.$.doUserMod.generateRequest();
        alert("Usuario modificado");
      }

      modUserResponse(data) {
        //actualizar el listado
        this.$.getPerson.generateRequest();
        this.usuarios = data.detail.response;
        this.hasGestorusuario = true;
        this.hasListarusuarios = true;
        this.hasGestorcuenta = false;
        this.hasActualizarCuenta = false;
        this.email = "";
        this.first_name = "";
        this.last_name = "";
        this.direccion = "";
        this.telefono = "";
        this.password = "";
      }
      altaUsuario(e){
        var usuarioData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "direccion" : this.direccion,
          "password" : this.password,
          "telefono" : this.telefono,
        };
        this.$.doUser.body = JSON.stringify(usuarioData);
        this.$.doUser.generateRequest();
      }
      manageUserResponse(data) {
        //actualizar el listado
        this.$.getPerson.generateRequest();
        this.usuarios = data.detail.response;
        this.hasGestorusuario = true;
        this.hasListarusuarios = true;
        this.hasGestorcuenta = false;
        this.hasActualizarCuenta = false;
        this.hasCreaUsuario = false;
        this.email = "";
        this.first_name = "";
        this.last_name = "";
        this.direccion = "";
        this.telefono = "";
        this.password = "";
        let nuevoName = data.detail.response.first_name;
        alert("Usuario "+ nuevoName + " Creado");
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
      CreaUsuario(){
        this.hasGestorusuario = true;
        this.hasListarusuarios = false;
        this.hasGestorcuenta = false;
        this.hasCreaUsuario = true;
      }
      cuentas(e) {
        var loginData = {
          "id_user" : this.userid,
        };
        this.$.getAccounts.body = JSON.stringify(loginData);
        this.$.getAccounts.generateRequest();
        this.hasGestorusuario = false;
        this.hasGestorcuenta = true;
      }
      usuarios(e) {
        this.$.getPerson.generateRequest();
      }
      showDataPerson(data) {
        this.usuarios = data.detail.response;
        this.hasGestorusuario = true;
        this.hasGestorcuenta = false;
      }
      inactivar(e) {
        var cuenta = e.model.item;
        this.idCuenta = cuenta.id_account;
        this.$.getInactivar.generateRequest();
        this.hasDetail = false;
        this.hasInactivar = true;
        this.$.getAccounts.generateRequest();
        this.accounts = data.detail.response[0].account;
      }
      ResponseInac(data) {
        this.movimientos = data.detail.response;
        this.hasDetail = false;
        this.hasInactivar = true;
      }
      detalles(e) {
        var movi = e.model.item;
        this.idMovElegido = movi.id_movimiento;
        var loginData = {
          "id_cuenta" : this.idCuenta,
          "id_movimiento" : this.id_movimiento
        };
        this.$.getDetalles.body = JSON.stringify(loginData);
        this.$.getDetalles.generateRequest();
      }
      Response(data) {
        this.idMovimiento = data.detail.response[0].id_movimiento;
        this.importe = data.detail.response[0].importe_mov;
        this.moneda = data.detail.response[0].moneda_mov;
        this.fecha = data.detail.response[0].date_mov;
        this.referencia = data.detail.response[0].referencia_mov;
        this.hasDetail = true;
        this.hasInactivar = false;
      }
      movimientos(e) {
        var cuenta = e.model.item;
        this.idCuenta = cuenta.iban;
        var loginData = {
          "id_cuenta" : this.idCuenta
        };
        this.$.getMovimientos.body = JSON.stringify(loginData);
        this.$.getMovimientos.generateRequest();
        this.hasDetail = false;
        this.hasInactivar = false;
      }
      manageAJAXResponse(data) {
        this.movimientos = data.detail.response;
        this.hasActivity = true;
        this.hasDetail = false;
        this.hasInactivar = false;
      }
      _idChanged() {
        this.$.getAccounts.generateRequest();
      }
      showData(data) {
        if (data.detail.response.msg == "Usuario sin cuentas") {
          this.hasActivity = false;
          this.hasDetail = false;
        }else {
          this.accounts = data.detail.response[0].account;
          this.hasActivity = false;
          this.hasDetail = false;
        }

      }
    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
