<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     /*ComponentePrincipal hereda las  caracteristicas de Polymer.Element
     la clase ComponentePrincipal tienes 2 metodos getter que devuelte
     el nombre del elemento
     get properties() =  devuelve

     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Renzo Rojas Marquez'
          }
        };
      }
    }
    /*metodo define = metodo los costum elements , crear un nuevo custemElements
    pasnadole el metodo IS y el nombre de clase */
    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
