<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">
<!--<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">-->
<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre</h1>
    <h1>Prueba Login-Cuentas</h1>
    <login-usuario-cuentas  on-myevent="processEvent"></login-usuario-cuentas>
    <visor-cuentas id="receiver"></visor-cuentas>
  <!--  <emisor-evento  on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>-->
  </template>
  <script>
  class GestorEvento extends Polymer.Element {
    static get is() { return 'gestor-evento'; }
    static get properties() {
      return {
      };
    }

    processEvent(e) {
      console.log("Capturado evento del emisor");
      console.log(e.detail);
      this.$.receiver.idusu = e.detail.idusu;
      this.$.receiver.name = e.detail.name;
    }
  }

  window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
