<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
 <template>
 <style>
   :host {
     display: block;
   }
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
   }
   li {
     float: left;
   }
   li a {
     display: block;
     padding: 8px;
     background-color: #DDDDDD;
   }
   :host {
     display: block;
   }
   .btn-salir{
     background: #0B8585!important;
     align-bottom: right;
   }
   .botonDerecha{
     float: right;
     width: 50px;
     padding: 10px;
   }
   .boton_1{
     text-decoration: none;
     padding: 3px;
     padding-left: 10px;
     padding-right: 10px;
     font-family: helvetica;
     font-weight: 300;
     font-size: 25px;
     font-style: italic;
     color: #006505;
     background-color: #82B085;
     border-radius: 15px;
     border: 3px double #006505;
   }
   .boton_1:hover{
     opacity: 0.6;
     text-decoration: none;
   }
   :host {
     display: block;
     font-family: Helvetica;
   }
   .container-newusuario{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 0;
    top:100px;
   }
   .container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 0;
    top:100px;
   }
   .col-md-12{
    font-family: Helvetica;
    color: white;
    }
   .btn-primary{
     float: center;
     width: 160px;
     padding: 10px;
     background: #0B8585!important;
   }
   .btn-right{
     float: right;
     align-bottom: rigtht;
     width: 160px;
     padding: 10px;
     color: #FCFCFC;
     background: #0B8585!important;
   }
 </style>
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div hidden$="{{isLogged}}" class="container">
       <h1>Hasta Pronto "USUARIO" </h1>
     </div>

   <iron-ajax
     id="doLogout"
     url="http://localhost:3001/techu/v2/logut"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
     class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         }
       };
     }

     login(e) {
       var logoutData = {
         "email" : this.email
       };
       this.$.doLogout.body = JSON.stringify(logoutData);
       this.$.doLogout.generateRequest();
     }

     manageAJAXResponse(data) {
       this.email = data.detail.response.user;
       this.first_name = data.detail.response.name;
       console.log("Logout cuentas")
       console.log(data.detail.response);
       if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
         this.isLogged = true;
       } else {
         this.isLogged = false;
         console.log('Usuario no válido ###');
       }
       this.dispatchEvent(new CustomEvent('loginok',
                          {detail:{idusu:this.idusu,
                                   user:this.email,
                                   name: this.first_name,
                                   last: this.last_name}}));
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
