<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<dom-module id="gestor-componentes">
  <template>
    <style>
      :host {
        display: block;
      }
      .btn-salir{
        background: #0B8585!important;
        align-bottom: right;
      }
      .botonDerecha{
        float: right;
        width: 50px;
        padding: 10px;
      }
      .boton_1{
        text-decoration: none;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: helvetica;
        font-weight: 300;
        font-size: 25px;
        font-style: italic;
        color: #006505;
        background-color: #82B085;
        border-radius: 15px;
        border: 3px double #006505;
      }
      .boton_1:hover{
        opacity: 0.6;
        text-decoration: none;
      }
      :host {
        display: block;
        font-family: Helvetica;
      }
      .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       top:100px;
      }
      .col-md-12{
       font-family: Helvetica;
       color: white;
       }
      .btn-primary{
        float: right;
        width: 120px;
        padding: 10px;
        background: #0B8585!important;
      }
      .btn-logout{
        background-size: 50px;
        width: 50px;
        height: 50px;
        float: right;
      }
      @font-face {
        font-family:"bbvafont";
        src: url("../icons/BentonSansBBVA-Bold.ttf");
      }

      .h1-bin{
        margin-bottom: auto;
        font-size: 2.5rem;
        line-height: revert;
        color: white;
        background: #072146;
      }
      .contei-visor{
        box-sizing: border-box;
        background: #072146;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <login-usuario-cuentas on-loginok="showAccounts"></login-usuario-cuentas>
    <div hidden$="[[!hasAccounts]]">
      <div><!--<button class="btn btn-primary" on-click="logout" onclick="window.location.href='src/logout.html'">SALIR</button><br>-->
          <button class="btn-logout" on-click="logout" onclick="window.location.href='src/logout.html'">
            <img src="/icons/icon_logout.png" class="img-fluid pull-xs-left" alt="...">
          </button>
      </div>
       <!-- <div><button class="btn btn-primary" on-click="usuarios" >USUARIOS</button></div>&nbsp;&nbsp;&nbsp;&nbsp;-->
      <h1 class="h1-bin">Bienvenid@ [[first_name]] al BBVA!!</h1>
      <visor-cuentas id="receiver" class="contei-visor"></visor-cuentas>
    </div>
    <iron-ajax
       id="doLogout"
       url="http://localhost:3001/techu/v2/logout"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">
  </template>
  <script>
    class GestorComponentes extends Polymer.Element {
      static get is() { return 'gestor-componentes'; }
      static get properties() {
        return {
          hasAccounts: {
            type: Boolean,
            value: false
          }, email: {
            type: String
          }, first_name: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }, last_name: {
            type: String
          }, hasGestorcuenta: {
            type: Boolean,
            value: false
          }
        };
      }
      showAccounts(e) {
        this.$.receiver.userid= e.detail.idusu;
        this.email=e.detail.user;
        this.first_name = e.detail.name;
        this.last_name = e.detail.last;
        this.hasAccounts = true;
        this.hasGestorcuenta = true;
        this.hasGestorusuario = false;
        this.hasActivity = false;
      }
      logout(e) {
        var logoutData = {
          "email" : this.email
        };
        console.log("Logout")
        console.log(JSON.stringify(logoutData))
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }
      manageAJAXResponse(data) {
        this.email = data.detail.response.user;
        this.first_name = data.detail.response.name;
        console.log("Logout cuentas")
        console.log(data.detail.response);
        if ( data.detail.response.user!=undefined ) {
          this.isLogged = false;
        } else {
          this.isLogged = true;
          console.log('Usuario no válido ###');
        }
        this.dispatchEvent(new CustomEvent('logoutok',
                           {detail:{user:this.email,
                                    name: this.first_name}}));
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }
    window.customElements.define(GestorComponentes.is, GestorComponentes);
  </script>
</dom-module>
