<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario-cuentas">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .container-pantalla{
      margin: 0 auto;
      padding: 20px 0;
      top:100px;
      background: #072146!important;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
     .h4-sign{
       color: white;
     }
     .img-logo{max-width:10%;height:auto}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div class="container-pantalla">
     <div hidden$="{{isLogged}}" class="container">
       <h1><img src="/icons/Logo_BBVA_blanco.svg" class="img-logo" alt="..."></h1>
       <h4 class="h4-sign">Sign in</h4>
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
           </div>
        </div>
     </div>
</div>
   <iron-ajax
     id="doLogin"
     url="http://localhost:3001/techu/v2/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
     class LoginUsuarioCuentas extends Polymer.Element {
     static get is() { return 'login-usuario-cuentas'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         }
       };
     }

     login(e) {
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

     manageAJAXResponse(data) {
       this.idusu = data.detail.response.userid;
       this.email = data.detail.response.user;
       this.first_name = data.detail.response.name;
       this.last_name = data.detail.response.last;
    //   console.log("login usuario ctas")
    //   console.log(data.detail.response);
       if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
         this.isLogged = true;
       } else {
         this.isLogged = false;
         console.log('Usuario no válido ###');
       }
       this.dispatchEvent(new CustomEvent('loginok',
                          {detail:{idusu:this.idusu,
                                   user:this.email,
                                   name: this.first_name,
                                   last: this.last_name}}));
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuarioCuentas.is, LoginUsuarioCuentas);
 </script>
</dom-module>
